# --- .gitignore ---

# 1. Ignore the Build Directory (Contains target/allure-results)
target/

# 2. Ignore IDE files (IntelliJ)
.idea/
*.iml

# 3. Ignore Allure System Files (The software binaries)
.allure/

# 4. Ignore Root Results (Just in case a default run happens)
allure-results/